
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
nav {
    position: relative;
    display: flex;
    left: 0;
    right: 0;
    top: 0;
    justify-content: space-between;
    background-color: rgb(138,218,255);

}

#chatprofile {
    display: flex;
    margin: 12px 23px;

}

#chatprofile img {
    height: 50px;
}

.profile p:nth-child(1) {
    font-weight: 800;
    margin: 5px 0px 3px 23px;
}

.profile p:nth-child(2) {
    font-size: 11px;
    margin-left: 23px;
}

nav>img {
    height: 38px;
    margin: 19px 19px;
}

form{
    position: relative;
    background: rgb(138,218,255);
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
} 
#messages{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    overflow-y: scroll;
    flex: 1;
}
#messages p{
    padding: 0.5rem 1rem 2rem 1rem;
    width: fit-content;
    height: fit-content;
    border: 2px solid rgb(138,218,255);
    margin: 1rem 0;
  
    
}
#messages p:nth-child(even){
   align-self: flex-end;
    margin-left: 2rem;
    border-radius:10px 0px 0px 10px;
}


#messages p:nth-child(odd){
     margin-right:2rem;
     border-radius: 0px 10px 10px 0px;
    }
    
    

input {
    width: 94%;
    height: 24px;
    padding: 5px;
    border-radius: 20px;
    border: 0;
}
.bn30 {
    border: 5em;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    -webkit-transform: translate(0);
    transform: translate(0);
    background-image: linear-gradient(45deg, #4568dc, #b06ab3);
    padding: 0.7em 2em;
    border-radius: 65px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
    -webkit-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    color: white;
  }
  .bn632-hover {
    width: 48px;
    font-size: 13px;
    /* font-weight: 600; */
    color: #fff;
    cursor: pointer;
    margin: 9px;
    height: 28px;
    text-align: center;
    border: none;
    background-size: 288% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
  .bn632-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:focus {
    outline: none;
  }
  
  .bn632-hover.bn26 {
    background-image: linear-gradient(
      to right,
      #25aae1,
      #4481eb,
      #04befe,
      #3f86ed
    );
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
  }

@media (max-width:450px) {
    input {
        width: 77%;
        height: 24px;
        padding: 5px;
        border-radius: 20px;
        border: 0;
    }
    #chatprofile {
        margin: 12px 8px;
    }
    #chatprofile img {
        height: 33px;
    }
    .profile p:nth-child(1) {
        margin: 5px 0px 3px 7px;
        font-size: 14px;
    }
    .profile p:nth-child(2) {
        font-size: 11px;
        margin-left: 8px;
    }
    nav>img {
        height: 29px;
        margin: 13px 9px;
    }
}
